 <% if (session.user && session.user.id) {%> 
  <%- partial('profile.ejs') %>
 <%}else{%>
 <div>
 <div class="pull-left logoutclass" ></div>
 <div class="pull-left">
 <form class="form-signup" id="form-signup">
      <h2 class="form-signin-heading">Please sign up here!</h2>
        <input type="text" name="fname"  class="input-block-level" placeholder="First Name">
        <input type="text" name="lname" class="input-block-level" placeholder="Last Name">
        <input type="text" name="phone" class="input-block-level" placeholder="Phone No.">
        <input type="text" name="email" class="input-block-level" placeholder="Email address">
        <input type="password" name="password"  class="input-block-level" placeholder="Password">
        <button class="btn btn-large btn-primary" id="form-signup-btn" type="submit">Sign Up</button>
        <br>
      </form>
</div>
<div class="pull-left" style="margin-left:25px; background-color:white;">
 <form class="form-signin" id="form-signin">
      <h2 class="form-signup-heading" style="margin-left:5px">Please sign in here!</h2>
        <input type="text" name="femail" class="input-block-level" placeholder="Email address">
        <input type="password" name="fpassword"  class="input-block-level" style="margin-left:5px" placeholder="Password">
        <br>
        <button class="btn btn-large btn-primary" id="form-signin-btn" align="center" type="submit">Sign In</button>
        <div class="pull-right" id="div_error">
        </div>
</form>
</div>
<div style="clear:both"></div>
 </div>

 <%}%>

